table {
    border: 1px solid black;

    td {
        padding: 5px;
        border: none;

        input {
            height: 40px;
            width: 40px;
            text-align: center;
            border: none;

            /* Hide controls in Chrome, Safari, Edge, Opera */
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            /* Hide controls in Firefox */
            &[type="number"] {
                -moz-appearance: textfield;
            }
        }
    }

    tr:nth-child(3) > td,
    tr:nth-child(6) > td {
        border-bottom: 1px solid black;
    }

    td:nth-child(3),
    td:nth-child(6) {
        border-right: 1px solid black;
    }
}
